#displayText
{
    height:50px;
    width:700px;
    font-size: 25px;
}
body{
    background-image: url(images/background.jpg);
    background-repeat: no-repeat; /*the site will automatically repeat the background if it doesnt fit the space)*/
    background-position: center;
    background-attachment: fixed; /*where the image would stay*/
    background-size: cover; /*background takes up the entire space*/

}

hr{
    border: 3px dashed rgb(123, 0, 255);
}
p{
    font-size:18px;
}

.navbar ul{
    list-style-type: none;
    background-color:rgb(159, 3, 159);
    padding:0px;
    margin:0px;
    overflow: hidden;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background-color:rgb(150, 128, 249);
}

.navbar li{
    float: left;
}



.gallery{
    display:inline-block;
    border: 2px solid;
    margin: 15px;
    width: 200px;
}
.gallery .fooddescription{
   padding: 10px;
   text-align: center;
}
.gallery:hover{
    border:2px solid rgb(255, 0, 98);
}
.gallery img{
    width:100%;
    height:auto;
}


#title{
    
    transform: skewX(12deg) translateX(10px);
    animation-name: slideRight;
    animation-duration: 1s;
    overflow-x:hidden;

    
}

@keyframes slideRight{
    from{transform: translate(-100px)}
}

